//  --------------------------------------------------------------------------------
//  _typography.scss
//  --------------------------------------------------------------------------------





//  --------------------------------------------------------------------------------
//  Typography
//  --------------------------------------------------------------------------------

//  General ------------------------------------------------------------------------

    // The following elements can have text and
    // therefore should get typograhic styling.
    h1, h2, h3, p, a, i,
    button, li, th, td,
    div, span, section, pre,
    label, input, textarea {
        // Allows for font styles (color, typeface, size
        // and weight) to be later inherited by styles on
        // the specific element or parent.
        color:                  inherit;
        font-family:            inherit;
        font-size:              inherit;
        font-style:             inherit;
        font-weight:            inherit;
        line-height:            inherit;
        // Fix sloppy rendering of font and icons
        // on both chrome and firefox on Mac OSX.
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing:grayscale;
    }

    html {
        color:                  $color--scorpion;
        font-family:            $font-family;
        font-size:              $font-size--body;
        font-weight:            normal;
        line-height:            $baseline;
    }


//  Headings -----------------------------------------------------------------------

    h1 {
        font-size:              $font-size--head;
        margin-top:             0.875rem;
        margin-bottom:          0.875rem;
    }

    h2 {
        font-size:              $font-size--subhead;
    }


//  Paragraphs ---------------------------------------------------------------------

    p {
        vertical-align:         bottom;
    }

    p + p {
        margin-top:             $baseline;
    }

    .p--lead {
        font-size:              $font-size--subhead;
    }