//  --------------------------------------------------------------------------------
//  _variable.scss
//  --------------------------------------------------------------------------------

//  Colors
//  Typography
//   ├─ Fonts
//   └─ Sizes
//  Layout
//   ├─ Breakpoints
//   ├─ Span sizes
//   └─ Z-index





//  --------------------------------------------------------------------------------
//  Colors
//  --------------------------------------------------------------------------------

    $color--scorpion:       hsb( 0, 0, 37.5 );
    $color--alto:           hsb( 0, 0, 85 );
    $color--tango:          hsb( 24, 90, 95 );
    $color--wild-sand:      hsb( 0, 0, 96 );
    $color--alabaster:      hsb( 0, 0, 99 );





//  --------------------------------------------------------------------------------
//  Typography
//  --------------------------------------------------------------------------------

    $baseline:              1.75em;


//  Fonts --------------------------------------------------------------------------

    $font-family:           'ff-meta-serif-web-pro', Georgia, serif;


//  Sizes --------------------------------------------------------------------------

    $font-size--body:       16px;
    $font-size--subhead:    1.175em;
    $font-size--head:       1.5em;






//  --------------------------------------------------------------------------------
//  Layout
//  --------------------------------------------------------------------------------

//  Breakpoints --------------------------------------------------------------------

    $breakpoint--xs:        476px;
    $breakpoint--s:         784px;
    $breakpoint--m:         1008px;
    $breakpoint--l:         1204px;

    $breakpoint--min:       336px;
    $breakpoint--max:       1288px;


//  Z-index ------------------------------------------------------------------------
