//  --------------------------------------------------------------------------------
//  _variable.scss
//  --------------------------------------------------------------------------------

//  Colors
//  Typography
//   ├─ Fonts
//   └─ Sizes
//  Layout
//   ├─ Breakpoints
//   ├─ Span sizes
//   └─ Z-index





//  --------------------------------------------------------------------------------
//  Colors
//  --------------------------------------------------------------------------------

    $black:                 hsb( 0, 0, 25 );
    $grey:                  hsb( 0, 0, 90 );
    $orange:                hsb( 24, 90, 95 );
    $white-smoke:           hsb( 0, 0, 96 );
    $white-smoke--light:    hsb( 0, 0, 99 );





//  --------------------------------------------------------------------------------
//  Typography
//  --------------------------------------------------------------------------------

//  Fonts --------------------------------------------------------------------------

    $font-family:           Palatino, serif;


//  Sizes --------------------------------------------------------------------------

    $font-size--body:       16px;
    $font-size--subhead:    1.4em;
    $font-size--head:       1.4em;






//  --------------------------------------------------------------------------------
//  Layout
//  --------------------------------------------------------------------------------

//  Breakpoints --------------------------------------------------------------------


//  Span sizes ---------------------------------------------------------------------

    $span--1:               30px;
    $span--2:               60px;
    $span--3:               90px;
    $span--4:               120px;


//  Z-index ------------------------------------------------------------------------
