//  --------------------------------------------------------------------------------
//  _content.scss
//  --------------------------------------------------------------------------------

//  Content
//   ├─ Sections
//   └─ Columns





//  --------------------------------------------------------------------------------
//  Content
//  --------------------------------------------------------------------------------

    .content {
        @include breakpoint( m ) {
            margin-right:           $baseline * 8;
        }

        @include breakpoint( l ) {
            margin-right:           $baseline * 10;
        }
    }


//  Sections -----------------------------------------------------------------------

    .content__section {
        @include clearfix;
    }

    .content__section + .content__section {
        margin-top:             $baseline * 2;
    }


//  Columns ------------------------------------------------------------------------

    .column {
        display:                block;
        float:                  left;

        @include breakpoint( xs ) {
            padding-right:          $baseline * 2;
        }

        @include breakpoint( s ) {
            width:                  50%;
        }
    }

    .column + .column {
        @include breakpoint( 0, s ) {
            margin-top:             $baseline;
        }
    }