//  --------------------------------------------------------------------------------
//  _anchor.scss
//  --------------------------------------------------------------------------------

//  Anchor
//   ├─ Base
//   ├─ Active
//   └─ Hovered/focused





//  --------------------------------------------------------------------------------
//  Anchor
//  --------------------------------------------------------------------------------

//  Base ---------------------------------------------------------------------------

    a {
        // Typographic underline
        // by using background image positioned beneath text.
        background-image:       linear-gradient(
                                    to top,
                                    rgba( 242, 111, 24, 1 ) 0.125em,
                                    rgba( 0, 0, 0, 0 ) 0.125em
                                );

        font-style:             normal;
        position:               relative;
        text-decoration:        none;
        text-shadow:            $color--alabaster 0.12em 0.06em,
                                $color--alabaster 0.12em 0.03em,
                                $color--alabaster 0.12em 0,
                                $color--alabaster 0.12em -0.03em,
                                $color--alabaster 0.12em -0.06em,

                                $color--alabaster 0.09em 0.06em,
                                $color--alabaster 0.06em 0.06em,
                                $color--alabaster 0.03em 0.06em,
                                $color--alabaster 0 0.06em,
                                $color--alabaster -0.03em 0.06em,
                                $color--alabaster -0.06em 0.06em,
                                $color--alabaster -0.09em 0.06em,

                                $color--alabaster -0.12em 0.06em,
                                $color--alabaster -0.12em 0.03em,
                                $color--alabaster -0.12em 0,
                                $color--alabaster -0.12em -0.03em,
                                $color--alabaster -0.12em -0.06em;
        transition:             color 0.2s ease-in-out,
                                text-shadow 2s ease-in-out 0.2s;
        white-space:            nowrap;
    }

    // Place margin between adjacent anchors
    // (ie. anchors in nav).
    a + a {
        margin-left:            $baseline / 2;
    }


//  Active -------------------------------------------------------------------------

    a.is-active {
        // Underline
        background:             none;
        text-shadow:            none;

        // Strikethrough
        &::before {
            border-top:             0.125em solid $color--tango;
            content:                '';
            left:                   -3px;
            position:               absolute;
            top:                    calc( 100% - 0.5625em );
            width:                  calc( 100% + 6px );
            transition:             border 0.2s ease-in-out;
        }

    }


//  Hovered/focused ----------------------------------------------------------------

    // Anchor text
    a {
        &:focus,
        &:hover {
            color:                  white;
            text-shadow:            none;
            transition:             color 0.2s ease-in-out 0.1s,
                                    text-shadow 0s linear 0.1s;
        }
    }

    // Strikethrough
    a.is-active {
        &:focus::before,
        &:hover::before {
            border-color:           $color--alabaster;
            transition-delay:       0.1s;
        }
    }

    // Background block.
    // Yes, this can done by simply setting a background color
    // and padding directly onto the anchor element. However
    // this adds margins around the anchor and using a pseudo
    // element provides more flexability.
    a {

        &::after {
            @include absolute( top -6px left -5px );
            @include size( 100% );
            background-color:       $color--tango;
            content:                '';
            display:                block;
            opacity:                0;
            padding:                5px;
            transition:             opacity 0.2s ease-in-out;
            z-index:                -1;
        }

        &:focus::after,
        &:hover::after {
            opacity:                1;
            transition-delay:       0.1s;
        }

    }