//  --------------------------------------------------------------------------------
//  _image.scss
//  --------------------------------------------------------------------------------

//  Image
//   ├─ /
//   └─ /





//  --------------------------------------------------------------------------------
//  Image
//  --------------------------------------------------------------------------------

    .image {
        @include scrollbar;
        background-color:       $color--wild-sand;
        border:                 1px solid $color--wild-sand;
        // Force whatever element this class may be
        // in to always display as a block.
        display:                block;
        // The point of a ~66% bottom padding is that it will
        // lock the image container to a 3:2 ratio.
        padding-bottom:         66.66%;
        overflow:               hidden;
        position:               relative;
        width:                  100%;
    }

    // Image element within the image container
    .image > img {
        @include absolute( top left bottom right );
        display:                block;
        margin:                 auto;
        max-width:              100%;
        pointer-events:         none;
    }

    // Prettier broken image
    img[alt] {
        &::before,
        &::after {
            @include size( 100% );
            color:                  rgba( 0, 0, 0, 0.2 );
            padding:                $baseline;
        }

        &::before {
            @include absolute( top left );
            background-color:       $color--wild-sand;
            content:                '٩◔◔̯۶';
            font-family:            monospace;
            font-weight:            bold;
        }

        &::after {
            @include absolute( top ( $baseline * 2 ) left );
            content:                attr( alt );
            font-size:              0.9em;
            font-style:             italic;
        }
    }