<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width">

<title>{{ page.title }} — {{ site.name }}</title>

<link rel="preload" href="https://use.typekit.net/kub1snq.js" as="script">
<link rel="preload" href="https://mc.yandex.ru/metrika/watch.js" as="script">
<link rel="preconnect" href="https://p.typekit.net">
<link rel="preconnect" href="https://use.typekit.net">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="icon" href="/assets/images/favicon.png" type="image/png">

<link rel="author" href="/humans.txt">
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% endif %}

<link rel="stylesheet" href="/assets/styles/main.min.css">
<script src="/assets/javascript/main-bundle.min.js" defer></script>