##### Directories
dist/
node_modules/
src/.jekyll-cache/




##### Files
npm-debug.log

# Webpack generated
src/assets/javascript/*.*.js
src/assets/styles/*.*.css
webpack-manifest.json

# OS related
.DS_Store
._*
.Spotlight-V100
.Trashes
[Dd]esktop.ini
Thumbs.db