//  --------------------------------------------------------------------------------
//  _content.scss
//  --------------------------------------------------------------------------------

//  Content
//   ├─ Loading state
//   ├─ Rows
//   └─ Columns





//  --------------------------------------------------------------------------------
//  Content
//  --------------------------------------------------------------------------------

    .content {
        position:               relative;

        @include breakpoint( m ) {
            margin-right:           $baseline * 8;
        }

        @include breakpoint( l ) {
            margin-right:           $baseline * 10;
        }

    }


//  Loading state ------------------------------------------------------------------

    // Content overlay
    .content {
        &::before {
            @include absolute( top -1em left -1em );
            @include size( calc( 100% + 2em ) );
            background-color:       $color--alabaster;
            content:                '';
            opacity:                0;
            pointer-events:         none;
            transition:             opacity 0.25s ease-out;
            transition-delay:       0.25s;
            z-index:                1;
        }

        &.is-loading::before {
            opacity:                1;
            pointer-events:         all;
            transition:             opacity 0.25s ease-in;
            transition-delay:       0s;
        }
    }

    // Preloader spinner
    .content {
        &::after {
            opacity:                0;
            content:                '−';
            font-family:            monospace;
            transition:             opacity 0.2s ease-out;
            transition-delay:       0s;
        }

        &.is-loading::after {
            @include absolute( top left );
            animation:              0.3s preloader infinite;
            opacity:                1;
            transition:             opacity 0.2s ease-in;
            transition-delay:       0.5s;
            z-index:                1;
        }
    }

    @keyframes preloader {
        25% {
            content:                '\\';
        }
        50% {
            content:                '|';
        }
        75% {
            content:                '/';
        }
    }


//  Rows ---------------------------------------------------------------------------

    .row,
    .row--section {
        @include clearfix;
    }

    .row,
    .row--section {
        + .row {
            margin-top:             $baseline;
        }

        + .row--section {
            margin-top:             $baseline * 2;
        }
    }


//  Columns ------------------------------------------------------------------------

    .column {
        display:                block;

        @include breakpoint( xs ) {
            padding-right:          $baseline * 2;
        }

        @include breakpoint( s ) {
            float:                  left;
            width:                  50%;
        }
    }

    .column + .column {
        @include breakpoint( 0, s ) {
            margin-top:             $baseline;
        }
    }