//  --------------------------------------------------------------------------------
//  _content.scss
//  --------------------------------------------------------------------------------

//  Content
//   ├─ Rows
//   └─ Columns





//  --------------------------------------------------------------------------------
//  Content
//  --------------------------------------------------------------------------------

    .content {
        opacity:                1;
        transition:             opacity 0.25s ease-out;
        transition-delay:       0.1s;

        &.is-loading {
            opacity:                0;
            transition:             opacity 0.25s ease-in;
            transition-delay:       0s;
        }

        @include breakpoint( m ) {
            margin-right:           $baseline * 8;
        }

        @include breakpoint( l ) {
            margin-right:           $baseline * 10;
        }

    }


//  Rows ---------------------------------------------------------------------------

    .row,
    .row--section {
        @include clearfix;
    }

    .row,
    .row--section {
        + .row {
            margin-top:             $baseline;
        }

        + .row--section {
            margin-top:             $baseline * 2;
        }
    }


//  Columns ------------------------------------------------------------------------

    .column {
        display:                block;

        @include breakpoint( xs ) {
            padding-right:          $baseline * 2;
        }

        @include breakpoint( s ) {
            float:                  left;
            width:                  50%;
        }
    }

    .column + .column {
        @include breakpoint( 0, s ) {
            margin-top:             $baseline;
        }
    }