//  --------------------------------------------------------------------------------
//  _sidebar.scss
//  --------------------------------------------------------------------------------

//  Sidebar





//  --------------------------------------------------------------------------------
//  Sidebar
//  --------------------------------------------------------------------------------

    .sidebar {
        margin:                 0 $baseline;
        padding-bottom:         $baseline;
        padding-top:            $baseline * 2;

        @include breakpoint( m ) {
            float:                  right;
            width:                  $baseline * 6;
        }

        @include breakpoint( l ) {
            width:                  $baseline * 8;
        }
    }

    .site-nav {
        @include breakpoint( m ) {
        	position:               fixed;
            width:                  $baseline * 6;
        }
    }