//  --------------------------------------------------------------------------------
//  _image.scss
//  --------------------------------------------------------------------------------

//  Image
//   ├─ Bordered
//   └─ 404





//  --------------------------------------------------------------------------------
//  Image
//  --------------------------------------------------------------------------------

    .image {
        background-color:       $color--wild-sand;
        // Force whatever element this class may be
        // applied to always display as a block.
        display:                block;
        // The point of a ~66% bottom padding is that it will
        // lock the image container to a 3:2 ratio.
        padding-bottom:         66.6666%;
        position:               relative;
        width:                  100%;

        + .image {
            margin-top:             $baseline;
        }
    }

    // Image element within the image container
    .image > img {
        @include size( 100% );
        display:                block;
        position:               absolute;
        z-index:                0;
    }


//  Bordered -----------------------------------------------------------------------

    .image--border {
        border:                 0.125em solid $color--alto;
    }


//  404 ----------------------------------------------------------------------------

// Prettier broken images

    img[alt] {
        &::after,
        &::before {
            box-sizing:             border-box;
            color:                  rgba( 0, 0, 0, 0.2 );
            padding:                $baseline calc( #{$baseline/2} + 1% );
        }

        &::after {
            @include absolute( top left );
            @include size( 100% );
            background-color:       $color--wild-sand;
            content:                '404';
            font-family:            monospace;
            font-weight:            bold;
        }

        &::before {
            @include absolute( top $baseline left );
            content:                '“' attr( alt ) '”';
            font-size:              0.9em;
            font-style:             italic;
            height:                 calc( 100% - #{$baseline * 2} );
            width:                  100%;
            z-index:                1;
        }
    }