//  --------------------------------------------------------------------------------
//  thumbnail.scss
//  --------------------------------------------------------------------------------

//  Thumbnail





//  --------------------------------------------------------------------------------
//  Thumbnail
//  --------------------------------------------------------------------------------

    // Spacing between thumbnail text and media
    .thumbnail__text {
        display:                block;
        margin:                 0;
        margin-bottom:          $baseline / 4;
    }