//  --------------------------------------------------------------------------------
//  thumbnail.scss
//  --------------------------------------------------------------------------------

//  Thumbnail





//  --------------------------------------------------------------------------------
//  Thumbnail
//  --------------------------------------------------------------------------------

//  Container ----------------------------------------------------------------------

    .thumbnail {
        display:                flex;
        flex-direction:         column;
        padding-bottom:         $baseline * (3/4);
    }


//  Text ---------------------------------------------------------------------------

    .thumbnail__text {
        align-self:             flex-start;
        order:                  1;

        &.anchor {
            line-height:            normal;
            margin:                 0.375em 0;
        }
    }


//  Media --------------------------------------------------------------------------

    // Spacing between thumbnail text and media
    .thumbnail__media {
        margin-top:             $baseline / 4;
        order:                  2;
    }

    .thumbnail__media:hover + .anchor {
        color:                  white;
        text-shadow:            none;
        transition:             color 0.2s ease-in-out 0.1s,
                                text-shadow 0s linear 0.1s;

        &::after {
            opacity:                1;
            transition-delay:       0.1s;
        }
    }