---
layout: compress
---




<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ page.title }} — Adam Gian</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">

        {% include head.html %}
    </head>

    <body>

        <aside class="sidebar">
            <nav>
                <h1>Adam Gian</h1>
                <a class="anchor {% if page.url contains '/project' %}is-active{% endif %}" href="/projects">Projects</a>
                <a class="anchor {% if page.url == '/about' %}is-active{% endif %}" href="/about">About</a>
            </nav>
        </aside>


        <div class="content">
            {{ content }}

            <section class="row--section">
                {% for project in site.data.projects %}
                    {% if project.permalink == page.permalink %}
                        {% unless forloop.first %}
                            {% assign prev = forloop.index0 | minus: 1 %}
                            <p>
                                Previous project:<br>
                                <a class="anchor" href="{{ site.data.projects[prev].permalink }}">
                                    {{ site.data.projects[prev].name }}
                                </a>
                            </p>
                        {% endunless %}
                        {% unless forloop.last %}
                            {% assign next = forloop.index0 | plus: 1 %}
                            <p>
                                Next project:<br>
                                <a class="anchor" href="{{ site.data.projects[next].permalink }}">
                                    {{ site.data.projects[next].name }}
                                </a>
                            </p>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </section>
        </div>

    </body>

</html>