---
layout: default
permalink: /projects
title: Projects

projects:
    - name: Adam Gian
      path: /project/adamgian
      thumbnail: test.jpg
    - name: Caboolture Country Markets
      path: /project/caboolturecountrymarkets
      thumbnail: test.jpg
    - name: Adam Gian
      path: /project/adamgian
      thumbnail: test.jpg
---


{% for project in page.projects %}

    {% assign mod = forloop.index | modulo: 2 %}

    {% if mod == 1 %}
    <div class="content__section">
    {% endif %}

        <div class="column">
            <a href="{{ project.path }}">{{ project.name }}</a>
            <div class="image">
                <img src="{{ project.thumbnail }}" alt="{{ project.name }}">
            </div>
        </div>

    {% if mod == 0 or forloop.last %}
    </div>
    {% endif %}

{% endfor %}