---
layout: default
permalink: /projects
title: Projects
description: Adam Gian — Front-end Developer based in Brisbane, Australia.
---




{% for project in site.data.projects %}

    {% assign mod = forloop.index | modulo: 2 %}

    {% if mod == 1 %}
    <section class="row">
    {% endif %}

        <div class="column">
            <div class="thumbnail">
                <a class="thumbnail__media" href="{{ project.permalink }}" tabindex="-1">
                    <div class="media {% if project.border %}media--border{% endif %}">
                        <img src="{{ project.thumbnail }}" alt="{{ project.name }}">
                    </div>
                </a>
                <a class="thumbnail__text anchor" href="{{ project.permalink }}">{{ project.name }}</a>
            </div>
        </div>

    {% if mod == 0 or forloop.last %}
    </section>
    {% endif %}

{% endfor %}