---
layout: default
permalink: /projects
title: Projects
---




{% for project in site.data.projects %}

    {% assign mod = forloop.index | modulo: 2 %}

    {% if mod == 1 %}
    <section class="row">
    {% endif %}

        <div class="column">
            <p>
                <a class="anchor" href="{{ project.path }}">{{ project.name }}</a>
            </p>
            <a href="{{ project.path }}">
                <div class="image">
                    <img src="{{ project.thumbnail }}" alt="{{ project.name }}">
                </div>
            </a>
        </div>

    {% if mod == 0 or forloop.last %}
    </section>
    {% endif %}

{% endfor %}