.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.text--italic {
  font-style: italic !important; }

.scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: transparent; }
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e6e6e6; }

html, body, div, span, object, iframe,
header, footer, aside, section, article,
address, legend, code, pre,
ul, ol, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, p, a, i,
strong, em, sub, sup,
fieldset, radiogroup, figcaption, figure,
form, input, select, textarea, label, button,
table, thead, tfoot, tbody, tr, th, td,
img, audio, video {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0; }

article, aside, details, fieldset, figcaption,
figure, footer, header, hgroup, menu,
nav, radiogroup, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

::-moz-selection {
  background-color: #f26f18;
  color: #404040; }

::selection {
  background-color: #f26f18;
  color: #404040; }

a,
button {
  cursor: pointer; }

html {
  max-height: 100%;
  max-width: 100%; }
  html::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: transparent; }
  html::-webkit-scrollbar-thumb {
    background-color: #e6e6e6; }

body {
  background-color: #fcfcfc;
  padding: 60px 30px; }

h1, h2, h3, p, a, i,
button, li, th, td,
div, span, section, pre,
label, input, textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  color: #404040;
  font-family: Palatino, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em; }

ul {
  list-style: none; }

h1 {
  font-size: 1.4em; }

h2 {
  font-size: 1.4em; }

p + p {
  margin-top: 1.6em; }

a {
  color: #f26f18;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  z-index: 1; }
  a.is-active, a:hover {
    color: white;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }

a::after {
  position: absolute;
  top: -5px;
  left: -5px;
  height: 100%;
  width: 100%;
  background-color: #f26f18;
  content: '';
  display: block;
  opacity: 0;
  padding: 5px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  z-index: -1; }
a.is-active::after, a:hover::after {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

a + a {
  margin-left: 10px; }

.image {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  display: block;
  padding-bottom: 75%;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .image::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: transparent; }
  .image::-webkit-scrollbar-thumb {
    background-color: #e6e6e6; }
  .image:hover {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.image > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  max-width: 100%;
  pointer-events: none; }

.sidebar {
  margin-bottom: 60px; }

.content__section::after {
  content: '';
  display: table;
  clear: both; }

.content__section + .content__section {
  margin-top: 60px; }

.column {
  display: block; }

.column + .column {
  margin-top: 30px; }
