//  --------------------------------------------------------------------------------
//  _content.scss
//  --------------------------------------------------------------------------------

//  Content
//   ├─ Sections
//   └─ Columns





//  --------------------------------------------------------------------------------
//  Content
//  --------------------------------------------------------------------------------

//  Sections -----------------------------------------------------------------------

    .content__section {
        @include clearfix;
    }

    .content__section + .content__section {
        margin-top:             $span--2;
    }


//  Columns ------------------------------------------------------------------------

    .column {
        display:                block;
        // float:                  left;
    }

    .column + .column {
        margin-top:             $span--1;
    }