//  --------------------------------------------------------------------------------
//  _sidebar.scss
//  --------------------------------------------------------------------------------

//  //





//  --------------------------------------------------------------------------------
//  Sidebar
//  --------------------------------------------------------------------------------

    .sidebar {
        margin-bottom:          $baseline * 2;

        @include breakpoint( m ) {
            float:                  right;
            width:                  $baseline * 6;
        }

        @include breakpoint( l ) {
            width:                  $baseline * 8;
        }
    }

    .sidebar > nav {
        @include breakpoint( m ) {
        	position:               fixed;
        }
    }