---
layout: compress
---


<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ page.title }} — Adam Gian</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        {% include typekit.html %}

        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
        <link rel="stylesheet" href="/required/styles/main.css">
        <link rel="icon" href="/favicon.png" type="image/png">
    </head>

    <body>

        <aside class="sidebar">
            <nav>
                <h1>Adam Gian</h1>
                <a {% if page.url == '/projects' %}class="is-active"{% endif %} href="/projects">Projects</a>
                <a {% if page.url == '/about' %}class="is-active"{% endif %} href="/about">About</a>
            </nav>
        </aside>

        <div class="content">
            {{ content }}
        </div>

    </body>

</html>